<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkTimeLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WTL_Binding" maxReceivedMessageSize="2097152" maxBufferSize="2097152" maxBufferPoolSize="2097152">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm"  />
          </security>
        </binding>
        </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="allowDelegation">
          <clientCredentials>
            <windows allowedImpersonationLevel="Delegation"
                     allowNtlm="true"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://192.168.15.2:7047/NavServerCF/WS/COM-FOUR%20Computer%20Vertr.%20GmbH/Codeunit/WTL"
        binding="basicHttpBinding" bindingConfiguration="WTL_Binding"
        behaviorConfiguration="allowDelegation"
        contract="WTL_Service.WTL_Port" name="WTL_Port"
        />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <WorkTimeLogger.Properties.Settings>
      <setting name="ServiceLogin" serializeAs="String">
        <value>#navrep@com-four.local</value>
      </setting>
      <setting name="ServicePassword" serializeAs="String">
        <value>heute10!</value>
      </setting>
      <setting name="ServiceURL" serializeAs="String">
        <value>http://192.168.15.2:7047/NavServerCF/WS/COM-FOUR Computer Vertr. GmbH/Codeunit/WTL</value>
      </setting>
      <setting name="useWindowsAuthentication" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Default_Login" serializeAs="String">
        <value />
      </setting>
      <setting name="Default_Password" serializeAs="String">
        <value />
      </setting>
    </WorkTimeLogger.Properties.Settings>
  </applicationSettings>
</configuration>